<h2>Register Here</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="container text-start signup_form mt-2"
    <%= f.label :firstname %>
    <%= f.text_field :firstname, class: "form-control"%>

    <%= f.label :lastname %><br />
    <%= f.text_field :lastname, class: "form-control"%>

    <%= f.label :username %><br />
    <%= f.text_field :username, class: "form-control"%>

    <%= f.label :bio %><br />
    <%= f.text_area :bio, autofocus: true, class: "form-control"%>

    <%= f.label :location %><br />
    <%= f.text_field :location, autofocus: true, class: "form-control" %>

    <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>

    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>

    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>

</br>
    <%= f.submit "Sign up", class: "btn btn-primary btn-lg" %>
  

<% end %> 
</br>
<%= render "devise/shared/links" %>
</div>