<p class="font-weight-bold">Comments</p>
<%= form_with model: [ @tweet, @tweet.comments.build ]  do |form| %>
  <div class="form-group">
    <%= form.text_area :message, class: "form-control" %>
    <%= form.submit "Comment", class: "btn btn-primary btn-lg" %>
    <div class="field"><%= form.hidden_field :user_id, :value => current_user[:id] %></div>
    <div class="field"><%= form.hidden_field :tweet_id, :value => @tweet[:id]  %></div>
  </div>
<% end %>



 