<div class="col-xs-8">
<p>
  <h4><%= tweet.message %></h4>
  <% if current_user.id == tweet.user_id %>
  <%= link_to "Edit Tweet", edit_tweet_path( tweet ) %>
  <%= link_to "Delete Tweet", tweet_path( tweet ), method: :delete,
  data: { confirm: "Are you sure?" } %>
  <% end %>

  <% liked = Like.find_by( tweet: tweet, user: current_user ) != nil %>
  <% btn_color = liked ? "warning" : "default" %>
  <em>
      <%= tweet.created_at.strftime("%B %d %Y, %l:%M%P") %>, by
      <%= tweet.user.handle %>
    </em>

  <%= link_to "ðŸ‘", tweet_likes_path( tweet ), method: :post, class: "btn btn-#{btn_color} btn-xs", disabled: !user_signed_in? %>
  <%= tweet.likes.count %>
  <em>
  <%= button_to "Leave a Comment", new_tweet_comment_path( tweet ), class: "btn btn-primary btn-lg", disabled: !user_signed_in? %>
  </em>

  &nbsp
    
  </p>
</div>