<h4><%= @tweet.message %></h4>


<p>
  <em>
  <%= render @tweet.comments %>
  </em>
</p>
<p>
  <strong>
    <em> Replying to <%= User.find(@tweet.user_id).username  %>
  </strong>
    </em>
</p> 
<%= render 'comments/form' %>
<%= link_to "Back", root_path %>

    