

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <%= link_to image_tag('images.png', class: "navbar-brand", height: 48 ), root_path %>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="nav navbar-nav">
          <%= link_to "THE FEED", tweets_path, class: 'nav-item nav-link active' %>
        </div>
          <% if !user_signed_in? %>
              <div class="navbar-nav">
                <%= link_to "LOG IN", user_session_path, class: 'nav-item nav-link' %>
                <div  class="navbar-nav ms-auto" ><%= link_to 'REGISTER', new_user_registration_path, class: 'nav-item nav-link' %></DIV>
          <% else %>
              <span class="navbar-text">Signed in as: <%= current_user.username %></span>
              <div  class="navbar-nav ms-auto" >
                <%= link_to "PROFILE", user_path(current_user), class: 'nav-item nav-link' %>
              </div>
              <div  class="navbar-nav ms-auto" >
                <%= link_to "LOG OUT", destroy_user_session_path, :method => :delete, class: 'nav-item nav-link btn btn-danger mt-2' %>
              </div>
              </div>
          <% end %>
        </div>
    </div>
</nav>

    